<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ToDoList Automation Test Suite" verbose="1" thread-count="1" parallel="false">
    <listeners>
        <listener class-name="com.example.tests.listeners.TestListener"/>
    </listeners>
    
    <!-- Global test configuration -->
    <parameter name="deviceName" value="emulator-5554"/>
    <parameter name="platformVersion" value="11"/>
    <parameter name="appPath" value="/../todolist/apk/to-do-list.apk"/>
    
    <test name="ToDo List App Tests" preserve-order="true" parallel="false">
        <classes>
            <class name="com.example.tests.ToDoListTest">
                <methods>
                    <!-- Test cases in proper execution order -->
                    <include name="testAppLaunch"/>
                    <include name="testAddNewTask"/>
                    <include name="testAddMultipleTasks"/>
                    <include name="testMarkTaskCompleted"/>
                    <include name="testDeleteSpecificTask"/>
                    <include name="testDeleteTaskCancel"/>
                    <include name="testClearAllTasks"/>
                    <include name="testEmptyTaskValidation"/>
                    <include name="testDuplicateTaskValidation"/>
                    <include name="testTaskCounterAccuracy"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>